<div class="col-md-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Header Information</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Requestor</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" value="" placeholder="Dodi Rustandi">
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Departement</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="Information technology" value="">
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label>Date</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" placeholder="29 march 2023" value="">
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label>US phone mask:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask=""
                                inputmode="text">
                        </div>
                    </div>


                    <div class="form-group">
                        <label>Intl US phone mask:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm"
                                data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']"
                                data-mask="" inputmode="text">
                        </div>
                    </div>


                    <div class="form-group">
                        <label>IP mask:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-laptop"></i></span>
                            </div>
                            <input type="text" class="form-control form-control-sm" data-inputmask="'alias': 'ip'" data-mask=""
                                inputmode="decimal">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Item Requested</h3>
            <a href="#" class="btn btn-default btn-xs float-right shadow"><i class="fas fa-light fa-pencil"></i> Add</a>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th></th>
                        <th>item Code</th>
                        <th>Item Name</th>
                        <th>Quanity</th>
                        <th>Unit Price</th>
                        <th>Total Amount</th>
                        <th>Currency</th>
                        <th>UoM</th>
                        <th>Usage</th>
                        <th>Reason</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>183</td>
                        <td>Dell MS116 Optical Mouse</td>
                        <td>12</td>
                        <td>300.000</td>
                        <td>3.600.000</td>
                        <td>IDR</td>
                        <td><span class="tag tag-success">Unit</span></td>
                        <td>CKD</td>
                        <td>Need For CKD operation</td>
                        <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>219</td>
                        <td>BROTHER Label Tape TZE 241 18mm Black on White</td>
                        <td>5</td>
                        <td>8.000.000</td>
                        <td>40.000.000</td>
                        <td>IDR</td>
                        <td><span class="tag tag-warning">Unit</span></td>
                        <td>CKD</td>
                        <td>for CDK Operaiton</td>
                        <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>219</td>
                        <td>BROTHER Label Tape TZE 241 18mm Black on Whitee</td>
                        <td>3</td>
                        <td>8.000.000</td>
                        <td>24.000.000</td>
                        <td>IDR</td>
                        <td><span class="tag tag-primary">Unit</span></td>
                        <td>CC</td>
                        <td>For CC Operation</td>
                        <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>175</td>
                        <td>LAN Tester Trendnet</td>
                        <td>2</td>
                        <td>700.000</td>
                        <td>1.400.000</td>
                        <td>IDR</td>
                        <td><span class="tag tag-danger">Unit</span></td>
                        <td>IT</td>
                        <td>For IT Operation</td>
                        <td><a href="#"><i class="fas fa-trash"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="button" value="Save" class="btn btn-info btn-sm shadow">
    <input type="button" value="Clear" class="btn btn-danger btn-sm shadow">
</div>